@charset "UTF-8";

.wrap{
    display: grid;
    grid-template: 
    "header header header" 150px
    "nav nav nav" 80px
    "main main aside" 1fr
    "footer footer footer" 150px
    ;
}


header{
    grid-area: header;
    background-color: wheat;

}

header section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;

}
header section button{
    display: inline-block;
    width: 80px;
    background-color: black;

    color: white;
    border: none;
    font-size: 10pt;
}

header section button:hover{
    text-decoration: underline;
}
nav{
    grid-area: nav;
    background-color: khaki;
}

nav section{
    margin-left: 5vw;
}

nav section button{
    background-color: black;

    color: white;
    border: none;
    font-size: 10pt;
}

nav section button:hover{
    text-decoration: underline;
}

main{
    grid-area: main;
    
    display: grid;
    grid-template: 
    "main_art1" 2fr
    "main_art2" 1fr
    ;
}

#main_art1{
    grid-area: main_art1;
    background-color: aqua;
}

#main_art2{
    grid-area: main_art2;
    background-color: hotpink;
}

aside{
    grid-area: aside;
    background-color: cadetblue;
}
footer{
    grid-area: footer;
    background-color: darkblue;
}